@model UserGroups.Models.Group
@{
    ViewData["Title"] = "Join " + Model.Name;
}


<div class="row">
    <div class="col-md-6">

        @if (ViewData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["Error"]
            </div>
        }

        <div class="card">
            <div class="card-header bg-success text-white">
                <strong class="card-title">Join @Html.DisplayFor(model => model.Name)</strong>
            </div>
            <div class="card-body">

                <h5>Are you sure you want to join <i>@Html.DisplayFor(model => model.Name)</i>?</h5>
                <hr />
                <div>
                    <form asp-action="Join">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Join" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-info">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>