@model UserGroups.Models.Group

@{
    ViewData["Title"] = "Join";
}

<h2>Join</h2>

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}

<h3>Are you sure you want to join this group?</h3>
<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Join">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Join" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
